recursive-include is_prime_data *.npy
recursive-include is_prime_data *.u8
recursive-include is_prime_data *.u16
recursive-include is_prime_data *.py
recursive-include is_prime_data *.c
recursive-include is_prime_data *.so
include scripts/*.py
include scripts/*.sh
include CHANGELOG.md
